<form (submit)="handleOrderFilteration()" [formGroup]="custForm">

    <div>
        <label for="">Component With Model</label>
        <app-customer-select name="customer1" formControlName="cust1" required></app-customer-select>
    </div>

    <div>
        <label for="">Autocomplete Component With Model</label>
        <app-customer-select name="customer2" formControlName="cust2" type="AUTO_COMPLETE"></app-customer-select>
    </div>

    <button mat-raised-button color="primary" [disabled]="custForm.invalid">
        <mat-icon>search</mat-icon>
        Filter
    </button>
</form>