<div class="row">
    <div class="col">
        <mat-form-field>
            <mat-label>Search customer with chip and multiselect optionl</mat-label>
            <mat-chip-list #chipList>

                <mat-chip *ngFor="let customer of selectedCustomers">
                    {{customer.custName}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>

                <input type="text" matInput [formControl]="multiSelectCtrl" [matChipInputFor]="chipList"
                    [matAutocomplete]="customerSugessionPanelRef" placeholder="New Customer..." />

            </mat-chip-list>

            <mat-autocomplete #customerSugessionPanelRef="matAutocomplete" (optionSelected)="onOptionSelection($event)">
                <mat-option [value]="customer" *ngFor="let customer of customers$ | async">
                    {{customer.custName}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>